beautifulsoup4==4.6.0
certifi==2018.4.16
Flask==1.0.2
html5lib==1.0.1
idna==2.7
line-bot-sdk==1.7.2
lxml==4.2.3
numpy==1.14.5
pandas==0.23.3
pip==10.0.1
pymongo==3.7.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
setuptools==40.0.0
urllib3==1.23
wheel==0.31.1
pyxDamerauLevenshtein==1.5